<!DOCTYPE html>
<html class="no-js fixed-layout">
<head>
{?include file='inc_head.html'?}
</head>

<body>
{?include file='inc_header.html'?}

<div class="am-cf admin-main">
  <!-- content start -->
  <div class="admin-content">
    <div class="am-g am-g-fixed">
      <div class="am-u-sm-12 am-padding-top">
        {?if $row = $user?} 
        <section class="am-panel am-panel-default">
        <header class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">管理员<span class="am-icon-chevron-down am-fr"></span></header>
        <form action="" method="post" class="am-form">
          <main class="am-panel-bd am-panel-bordered am-collapse am-in" id="collapse-panel-2">
          <div class="am-form-group">
            <label for="a_name">登录帐号</label>
            <input id="a_name" type="text" name="a_name" value="{?$row.u_name?}" {?if $id==1?}'readonly'{?else?}''{?/if?}>
          </div>
          <div class="am-form-group">
            <label for="a_password">登录密码</label>
            <input name="a_password" type="password" id="a_password" value="">
            <p class="am-form-help">
              如不需修改请留空
            </p>
          </div>
          <div class="am-form-group">
            <label for="a_cassword">重复密码</label>
            <input name="a_cassword" type="password" id="a_cassword">
            <p class="am-form-help">
              如不需修改请留空
            </p>
          </div>
          <div class="am-form-group">
            <label for="a_tname">昵称</label>
            <input name="a_tname" type="text" id="a_tname" value="{?$row.u_tname?}">
          </div>
          <div class="am-form-group">
            <label for="a_role">权限角色</label>
            <select name="a_role" id="a_role">
              {?if $row.id==1?}
              <option value="1" selected="selected">超级管理员</option>
              {?else?}
                {?foreach from=$role item=val?}
                <option value="{?$val.id?}" {?if $val.id==$row.u_rid?}selected="selected"{?/if?}>{?$val.r_name?}</option>
                {?/foreach?}
              {?/if?}
            </select>
          </div>
          <center><button type="submit" name="submit" class="am-btn am-btn-default">提交保存</button>
          <button type="reset" class="am-btn am-btn-default">放弃保存</button></center>
          </main>
        </form>
        </section>
        {?/if?}
      </div>
    </div>
  </div>
  <!-- content end -->
</div>
{?include file='inc_footer.html'?}
<!-- js -->
<script type="text/javascript">
$(function(){
  $('#save').click(function(){
    if ($('#a_name').val() == ''){
      alert('请填写登录帐号');
      $('#a_name').focus();
      return false;
    }
    if($('#a_password').val() != $('#a_cassword').val()){
      alert('两次密码不一致');
      return false;
    }
  });
});
</script>
</body>
</html>