<!DOCTYPE html>
<html class="no-js fixed-layout">
<head>
{?include file='inc_head.html'?}
<style>
  th { background: #EEE;}
  label{ padding:5px 20px; cursor: pointer; margin-bottom: 0;}
  input[type=checkbox], input[type=radio]{ margin: 4px 5px 0 0;}
</style>
</head>

<body>
{?include file='inc_header.html'?}

<div class="am-cf admin-main">
  <!-- content start -->
  <div class="admin-content">
    <div class="am-g am-g-fixed">
      <div class="am-u-sm-12 am-padding-top">

        <section class="am-panel am-panel-default">
          <header class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">权限管理<span class="am-icon-chevron-down am-fr"></span></header>
          <form action="" method="post">
          <main class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
            <table class="am-table am-table-bordered">
              <tbody>
                <tr>
                  <th><label><input type="checkbox" name="cms" id="cms" value="">内容管理</label></th>
                  <td>
                    {?$get_channel_priv?}
                    <hr>
                    {?foreach $lang_priv as $key=>$val?}
                    <label for="{?$key?}"><input type="checkbox" name="{?$key?}" id="{?$key?}" value="{?$key?}" {?if in_array($key,$priv)?}{?$smarty.const.LIB_CHECKED?}{?/if?}>{?$val?}</label>
                    {?/foreach?}
                  </td>
                </tr>
                <tr>
                  <th><label><input type="checkbox" name="int" id="int" value="">交互管理</label></th>
                  <td>
                    {?foreach $lang_inrct as $key=>$val?}
                    <label for="{?$key?}"><input type="checkbox" name="{?$key?}" id="{?$key?}" value="{?$key?}" {?if in_array($key,$priv)?}{?$smarty.const.LIB_CHECKED?}{?/if?}>{?$val?}</label>
                    {?/foreach?}
                  </td>
                </tr>
                <tr>
                  <th><label><input type="checkbox" name="int" id="int" value="">微信管理</label></th>
                  <td>
                    {?foreach $lang_weixin as $key=>$val?}
                    <label for="{?$key?}"><input type="checkbox" name="{?$key?}" id="{?$key?}" value="{?$key?}" {?if in_array($key,$priv)?}{?$smarty.const.LIB_CHECKED?}{?/if?}>{?$val?}</label>
                    {?/foreach?}
                  </td>
                </tr>
                <tr>
                  <th><label><input type="checkbox" name="sys" id="sys" value="">系统设置</label></th>
                  <td>
                    {?foreach $lang_system as $key=>$val?}
                    <label for="{?$key?}"><input type="checkbox" name="{?$key?}" id="{?$key?}" value="{?$key?}" {?if in_array($key,$priv)?}{?$smarty.const.LIB_CHECKED?}{?/if?}>{?$val?}</label>
                    {?/foreach?}
                  </td>
                </tr>
              </tbody>
            </table>
            <center>
              <button type="submit" name="submit" id="save" class="am-btn am-btn-default">提交保存</button>
              <button type="reset" class="am-btn am-btn-default">放弃保存</button>
              <input type="hidden" name="act" value="update"><input type="hidden" name="rid" value="{?$rid?}">
            </center>
          </main>
          </form>
        </section>

      </div>
    </div>
  </div>
  <!-- content end -->
</div>

{?include file='inc_footer.html'?}

<!-- js -->
<script>
$(function(){
  $('#cms,#int,#sys').click(function(){
    var p = $(this).parent().parent().parent();
    var v = $(this).attr('status');
    if (v==1) {
      p.find('input:checkbox').prop('checked', false);
      $(this).attr('status','0');
    }else{
      p.find('input:checkbox').prop('checked', true);
      $(this).attr('status','1');
    }
  });
  $('.common_table th>span>label>input').click(function(){
    var p = $(this).parent().parent().parent().parent();
    var v = $(this).attr('status');
    if (v==1) {
      p.find('input:checkbox').prop('checked', false);
      $(this).attr('status','0');
    }else{
      p.find('input:checkbox').prop('checked', true);
      $(this).attr('status','1');
    }
  });
})
</script>
</body>
</html>