<!DOCTYPE html>
<html class="no-js fixed-layout">
<head>
{?include file='inc_head.html'?}
</head>
<body>
{?include file='inc_header.html'?}
<div class="am-cf admin-main">
    <!-- content start -->
    <div class="admin-content">
    <div class="am-g am-g-fixed">
      <div class="am-u-sm-12 am-padding-top">
        <div class="am-panel am-panel-default">
          <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">频道管理<span class="am-icon-chevron-down am-fr"></span></div>
          <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
            <table class="am-table am-table-striped admin-content-table">
              <thead>
              <tr>
              <th>ID</th><th>排序</th><th>频道名称</th><th>频道模型</th><th class="am-hide">内容模型</th><th class="am-hide">内容操作</th><th>频道操作</th>
              </tr>
              </thead>
              <tbody>
                {?$channel_list?}
              </tbody>
            </table>
          </div>
        </div>
        </div>
    </div>
    </div>
    <!-- content end -->
</div>
{?include file='inc_footer.html'?}
</body>
</html>