<!DOCTYPE html>
<html class="no-js fixed-layout">
<head>
{?include file='inc_head.html'?}
<link rel="stylesheet" href="{?$smarty.const.SITE_DIR?}js/datetimepicker/css/amazeui.datetimepicker.css">
</head>

<body>
{?include file='inc_header.html'?}

<div class="am-cf admin-main">
  <!-- content start -->
  <div class="admin-content">
    <div class="am-g am-g-fixed">
      <div class="am-u-sm-12 am-padding-top">

        <section class="am-panel am-panel-default">
          <header class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">投票管理<span class="am-icon-chevron-down am-fr"></span></header>
          <main class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
            <table class="am-table am-table-striped admin-content-table">
              <thead>
              <tr>
                <th>投票主题</th><th>选项</th><th>状态</th><th>操作</th>
              </tr>
              </thead>
              <tbody>
                {?foreach $res as $val?}
                <tr><td>{?$val.v_name?}</td><td>{?$val.count?}</td><td>{?$val.status?}</td><td><a href="cms_vote_edit.php?id={?$val.id?}" class="am-btn am-btn-default  am-btn-xs"><span class="am-icon-pencil"></span></a> <a href="cms_option.php?id={?$val.id?}" class="am-btn am-btn-default am-btn-xs"><span class="am-icon-list-ul"></span></a> <a href="cms_vote.php?del={?$val.id?}" onclick="return confirm(\'确认要删除吗？\')" class="am-btn am-btn-default am-btn-xs"><span class="am-icon-times"></span></a></td></tr>
                {?/foreach?}
              </tbody>
            </table>
            {?$pager[2]|page_show_admin:$pager[3]:'page':2?}
          </main>
        </section>

        <section class="am-panel am-panel-default">
          <header class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">新增投票<span class="am-icon-chevron-down am-fr"></span></header>
          <form action="" method="post" class="am-form">
            <main class="am-panel-bd am-panel-bordered am-collapse am-in" id="collapse-panel-2">
              <div class="am-form-group">
                <label for="v_name">投票主题</label>
                 <input id="v_name" type="text" name="v_name">
              </div>
              <div class="am-form-group">
                <label for="v_ifmulti">类型</label>
                <div class="am-form-group">
                  <label class="am-radio-inline">
                    <input type="radio" name="v_ifmulti" value="0" checked="checked"> 单选
                  </label>
                  <label class="am-radio-inline">
                    <input type="radio" name="v_ifmulti" value="1"> 多选
                  </label>
                </div>
              </div>
              <div class="am-form-group">
                <label for="v_stime">启动时间</label>
                 <input id="v_stime" type="text" name="v_stime" value="{?'Y-m-d H:i:s'|local_date:gmtime()?}" data-am-datepicker>
              </div>
              <div class="am-form-group">
                <label for="v_etime">终止时间</label>
                 <input id="v_etime" type="text" name="v_etime" value="{?'Y-m-d H:i:s'|local_date:gmtime()?}" data-am-datepicker>
              </div>
              <center>
                <button type="submit" name="submit" id="save" class="am-btn am-btn-default">提交保存</button>
                <button type="reset" class="am-btn am-btn-default">放弃保存</button>
              </center>
            </main>
          </form>
        </section>

      </div>
    </div>
  </div>
  <!-- content end -->
</div>

{?include file='inc_footer.html'?}

<!-- js -->
<script src="{?$smarty.const.SITE_DIR?}js/datetimepicker/amazeui.datetimepicker.min.js"></script>
<script type="text/javascript">
$(function(){
  $('#save').click(function(){
    if ($('#v_name').val() == ''){
      alert('请填写投票名称');
      $('#v_name').focus();
      return false;
    }
    if ($('#v_stime').val() == ''){
      alert('请填写投票启动日期');
      $('#v_stime').focus();
      return false;
    }
    if ($('#v_etime').val() == ''){
      alert('请填写投票终止日期');
      $('#v_etime').focus();
      return false;
    }
  });
});
</script>
</body>
</html>