<!DOCTYPE html>
<html class="no-js fixed-layout">
<head>
{?include file='inc_head.html'?}
</head>

<body>
{?include file='inc_header.html'?}

<div class="am-cf admin-main">
  <!-- content start -->
  <div class="admin-content">
    <div class="am-g am-g-fixed">
    <div class="am-u-sm-12 am-padding-top">

      <div class="am-panel am-panel-default">
      <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">现有管理员<span class="am-icon-chevron-down am-fr"></span></div>
      <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
        <table class="am-table am-table-striped admin-content-table">
          <thead>
          <tr>
            <th>ID</th><th>帐号</th><th>昵称</th><th>管理</th>
          </tr>
          </thead>
          <tbody>
            {?foreach $user as $val?}
            <tr><td>{?$val.id?}</td><td>{?$val.u_name?}</td><td>{?$val.u_tname?}</td>
            <td><a href="{?$val.edit_url?}" class="am-btn am-btn-default am-btn-xs"><span class="am-icon-pencil"></span></a> <a href="{?$val.del_url?}" onclick="return confirm(\'确认要删除吗？\')" class="am-btn am-btn-default am-btn-xs"><span class="am-icon-times"></span></a></td>
            </tr>
            {?/foreach?}
          </tbody>
        </table>
        </div>
      </div>

    <section class="am-panel am-panel-default">
      <header class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">新增管理员<span class="am-icon-chevron-down am-fr"></span></header>
      <form action="" method="post" class="am-form">
        <main class="am-panel-bd am-panel-bordered am-collapse am-in" id="collapse-panel-2">
          <div class="am-form-group">
          <label for="a_name">登录帐号</label>
          <input id="a_name" type="text" name="a_name">
          </div>
          <div class="am-form-group">
          <label for="a_password">登录密码</label>
          <input name="a_password" type="password" id="a_password">
          </div>
          <div class="am-form-group">
          <label for="a_cassword">重复密码</label>
          <input name="a_cassword" type="password" id="a_cassword">
          </div>
          <div class="am-form-group">
          <label for="a_tname">昵称</label>
          <input name="a_tname" type="text" id="a_tname">
          </div>
          <div class="am-form-group">
          <label for="a_role">权限角色</label>
          <select name="a_role" id="a_role">
            {?foreach $role as $val?}
            <option value="{?$val.id?}">{?$val.r_name?}</option>
            {?/foreach?}
          </select>
          </div>
            <center><button type="submit" name="submit" class="am-btn am-btn-primary">提交保存</button>
              <button type="reset" class="am-btn am-btn-primary">放弃保存</button></center>
            </main>
          </form>
    </section>

    </div>
    </div>
  </div>
  <!-- content end -->
</div>
{?include file='inc_footer.html'?}
<!-- js -->
<script type="text/javascript">
$(function(){
  $('.submit').click(function(){
    if ($('#a_name').val() == ''){
      alert('请填写登录帐号');
      $('#a_name').focus();
      return false;
    }
    if ($('#a_password').val() == ''){
      alert('请填写登录密码');
      $('#a_password').focus();
      return false;
    }  
    if($('#a_password').val() != $('#a_cassword').val()){
      alert('两次密码不一致');
      return false;
    }
  });
});
</script>
</body>
</html>