<!DOCTYPE html>
<html class="no-js fixed-layout">
<head>
{?include file='inc_head.html'?}
</head>

<body>
{?include file='inc_header.html'?}

<div class="am-cf admin-main">
  <!-- content start -->
  <div class="admin-content">
    <div class="am-g am-g-fixed">
      <div class="am-u-sm-12 am-padding-top">

        <section class="am-panel am-panel-default">
          <header class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">编辑碎片<span class="am-icon-chevron-down am-fr"></span></header>

          <form action="" method="post" class="am-form">
            <main class="am-panel-bd am-panel-bordered am-collapse am-in" id="collapse-panel-2">
              <div class="am-form-group">
                <label for="c_name">碎片名称</label>
                 <input id="c_name" type="text" name="c_name" value="{?$res.c_name?}">
              </div>
              <div class="am-form-group">
                <label for="c_code">调用代码</label>
                 <input id="c_code" type="text" name="c_code" value="{?$res.c_code?}">
              </div>
              <div class="am-form-group">
                <label for="c_content">碎片内容</label>
                 <textarea id="c_content" name="c_content">{?$res.c_content|stripslashes?}</textarea>
              </div>
              <div class="am-form-group">
                <label for="">安全保护</label>
                <div>
                  <label class="am-btn am-btn-default {?if $res.c_safe == 1?}am-active{?/if?}">
                    <input type="radio" name="c_safe" value="1" {?if $res.c_safe == 1?}checked="checked"{?/if?}/> 是
                  </label>
                  <label class="am-btn am-btn-default">
                    <input type="radio" name="c_safe" value="0" {?if $res.c_safe == 0?}checked="checked"{?/if?}/> 否
                  </label>
                </div>
              </div>
              <center>
                <button type="submit" name="submit" id="save" class="am-btn am-btn-default">提交保存</button>
              </center>
            </main>
          </form>

        </section>

      </div>
    </div>
  </div>
  <!-- content end -->
</div>

{?include file='inc_footer.html'?}

<!-- js -->
<script type="text/javascript">
  $(function(){
    $('#save').click(function(){
      if ($('#c_name').val() == ''){
        alert('请填写碎片名称');
        $('#c_name').focus();
        return false;
      }
    });
  });
  KindEditor.ready(function(K) {
    K.create('#c_content',{allowFileManager : true});
  });
</script>
</body>
</html>